<div class="container" *ngIf="errors">
  <div class="row">
    <header class="title bg-basic col-md-12">
      <h4>Error list</h4>
      <h6>Error number:{{errors.length}}</h6>
    </header>
  </div>
  <div class="row">
    <div class="status-wrapper bg-basic col-md-12">
      <select name="flag" class="status-flag form-control" #selectedFilter (change)="changeFilter(selectedFilter.value)">
        <option value="active">
          active
        </option>
        <option value="unactive">
          unactive
        </option>
        <option value="all">
          all
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <table class="col-md-12 col-sm-12 col-lg-12 tile table-hover">
      <thead>
        <tr>
          <th width="10%">
            Test Name
          </th>
          <th width="20%">
            URL
          </th>
          <th width="20%">
            Date
          </th>
          <th width="40%">
            Error Message
          </th>
          <th width="10%">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let error of errors, let idx=index">
          <tr *ngIf="isVisible(error)">
            <td class="text-center"> {{error.testName}}</td>
            <td class="text-center"> {{error.url}}</td>
            <td class="text-center"> {{error.date}}</td>
            <td> {{error.errorMsg}}</td>
            <td class="action-wrapper text-center">
              <i (click)="deactiveError(idx)" class="material-icons">{{error.status ? 'not_interested' : 'settings_backup_restore'}}</i>
              <i (click)="removeError(idx)" class="material-icons">delete</i>
            </td>
          </tr>
        </ng-container>

      </tbody>

    </table>
  </div>
</div>