body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
td, th {
    vertical-align: top;
    padding: 8px;
    width: 25%;
}
td img {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    tr,th {
        border-width: 1px 0 0;
        border-style: solid;
        border-color: rgba(255,255,255,0.05) !important;
    }
}

.modal-dialog {
    top:50% !important;
}

.flex-container {
    display: flex;
    margin-bottom: 10px;
}
.flex-container>div {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1px;
    /* for Firefox */
}
.flex-container>div img {
    max-width: 100%;
}
.flex-container .selector, .flex-container .filename {
    background-color: #ddd;
    color: #444;
    padding: 5px 5px;
    font-weight: 300;
}
.flex-container .filename {
    text-align: right;
}
.flex-container.small {
    font-size: 0.85em;
}
.asset-heading {
    font-weight: 300;
}
.reportTxt {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 11px;
}
.summaryControls {
    margin-bottom: 20px;
}

.stat {
    white-space: nowrap;
    margin-right: 2em;
    display: inline-block;
}
.filterGroup {
    background: rgba(0,0,0,0.35);
    padding: 7px;
    align-items: center;
    justify-content: space-around;
}
.filterGroup select {
    display: inline-block;
    width: auto;
    font-size: 14px;
    height:auto;
    color:#000;
    padding:3px;
    margin-left: 5px; 
    option {
        color:#000;
    }
}
.filterGroup .btn-info {
    margin-top:5px;
    margin-bottom:5px;
}
.results {
    margin-bottom: 90px;
    break-inside: avoid;
    border-top: #999 solid 1px;
}
.indicator {
    display: inline-block;
    font-style: italic;
    font-weight: 100;
    color: #999;
}
.dot {
    width: 0.5em;
    height: 0.5em;
    border-radius: .5em;
    display: inline-block;
    margin-right: 0.8ex;
}
.yellow {
    background-color: #ffcc00;
}
.red {
    background: #c60000;
}
.green {
    background: #56e900;
}
.hide {
    display: none
}
.summaryListButton {
    margin-bottom: 10px;
}
.modal .modal-dialog {
    width: 80%;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.btn-group {
    margin-bottom: 10px;
}
.showPairStats {
    input {
        vertical-align: middle;
    }
} 
.show-diff {
    display: none;
}
.btn {
    cursor: pointer;
}
@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}
.reportHeader {
    background: rgba(0,0,0,0.3);
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px 5px;
    display: inline-block;
    letter-spacing: 0.5px;
    color:#fff;
    margin: 10px 0;
}

.modalCenter {
    background: red;
}