<div class="modal-header" *ngIf="data.imgLeft">
    <!-- <h4 class="modal-title">Hi there!</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="data.imgLeft" class="imageWrapper" #imgWrapper>
        <div class="comparer">
            <div class="visible-part" [style.width.%]="visibleWidth" style="width:50%"> <img [src]="data.imgRight" [style.width.px]="imgRightWidth" #imgRight class="imgRight" /></div>
            <md-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
                [tick-interval]="tickInterval" [value]="someValue" [vertical]="vertical" (input)="sliderChange($event)">
            </md-slider>
        </div>
        <img [src]="data.imgLeft" class="imgLeft" />

    </div>
    <div *ngIf="!data.imgLeft" class="text-center">
        <span class="sr-only">Loading...<br/>
          Please wait.
        </span>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>

    </div>

    <!-- <nouislider [connect]="true" [config]="someRange2config" [min]="0" [max]="10" [step]="0.01" [(ngModel)]="smeRange"></nouislider> -->
    <!-- <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="someValue" (drag)="sliderChange()"></nouislider> -->
    <!-- <div style="color:red">{{someValue}}</div> -->
    <!--<div style="color:red ">{{someValue}}</div>-->
    <!-- <md-slider min="1" max="100" step="1" value="someValue" (input)="sliderChange()" (change)="sliderChange()"></md-slider> -->

    <!-- <div class="modal-footer ">
    <button type="button " class="btn btn-outline-dark " (click)="close( 'Close click') ">Close</button>-->
</div>