:host ::ng-deep {
    .modal-content * {
        color:#000;
    }
    .modal-header * {
        color:#000;
    }
    .modal-body * {
        color:#000;
    }
    .modal-header *{
        color:#000;
    }
}

