<div *ngIf="test" class="test-components container">
    <div class="row bg-basic title">
        <div class="col-md-12">
            <h4>Scenario: {{test.label}}</h4>
        </div>
    </div>

    <div class="fields-container row">
        <form [formGroup]="myForm" novalidate>
            <div *ngFor="let field of objectKeys(this.test)">
                <div [hidden]="isHiddenOption(field)" class="row">
                    <label class="col-md-3">{{field=='status'?"Is active":field}}</label>
                    <div class="field-wrapper col-md-9">
                        <div *ngIf="field=='status'">
                                <input type="checkbox" class="statusCheckbox" (change)="changeState($event)"
                                 [attr.checked]="this['test'][field]==true? '' : null">
                        </div>
                        <div *ngIf="field!='status'">
                            <input type="text" [ngClass]="myForm['controls'][field].invalid? 'errorField':''" [name]="field" [(ngModel)]="this['test'][field]"
                                [formControlName]="field">
                            <show-errors [control]="myForm['controls'][field]"></show-errors>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div>

        <button mat-button class="btn" [disabled]="myForm.invalid || myForm.pending" [routerLink]="['/test-list/',test.label]" (click)="updateChanges() ">Save</button>
    </div>
</div>