<div *ngIf="test" class="test-components">
    <div class="reportHeader">
        <h4>Scenario: {{test.label}}</h4>
    </div>
    <div class="fields-container">
        <div *ngFor="let field of objectKeys(test)">
            <!-- <mat-form-field class="full-width" *ngIf="field!='label'"> -->
            <mat-form-field class="full-width">
                <input matInput [(ngModel)]="test[field]" [required]="isRequired(field)" [errorStateMatcher]="myErrorStateMatcher" [disabled]="isDisabled(field,test[field])" placeholder="{{field}} " name="{{field}} " />
                <mat-error>This field is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div>
        <!--<button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon ">check_circle</mat-icon>
        </button>-->
        <button mat-button class="btn " [routerLink]="['/test-list/',test.label]" (click)="updateChanges() ">Save</button>
    </div>
</div>