.container {
    padding: 20px;
}

input {
    color: #fff;
}

.mat-input-element {
    font-size: 20px;
}

:host ::ng-deep {
    .mat-input-placeholder-wrapper .mat-input-placeholder {
        font-size: 18px !important;
        color: #fff !important;
    }
    .mat-input-underline {
        color: #fff;
    }
}

.fields-container {
    display: flex;
    flex-direction: column;
    .full-width {
        width: 100%;
    }
}

.fields-container>* {
    width: 100%;
}

// .reportHeader {
//     background: rgba(0,0,0,0.3);
//     font-size: 12px;
//     padding: 5px 10px 5px;
//     display: inline-block;
//     letter-spacing: 0.5px;
//     color:#fff;
//     margin: 10px 0;
// }
.title {
    font-size: 12px;
    padding: 5px 10px 5px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 20px;
    .material-icons {
        cursor: pointer;
        &.disabled {
            opacity: 0.1;
        }
    }
}

//
* {
    outline: none;
    font-family: Arial, serif;
}

h1 {
    font-size: 20px;
} // form, [ngForm], ngForm, [ng-reflect-form], [ngModelGroup], [formGroupName], [formArrayName] {
//   margin: 10px 10px 10px 0;
//   padding: 10px;
//   border-radius: 5px;
//   display: block;
// }
label {
    display: inline-block; // width: 260px;
    // margin-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

input {
    padding: 4px 6px;
    font-size: 16px;
    width: 260px;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
    color: black;
}

input:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

[rootNestableForm] h3 {
    color: blue;
}

.form-state {
    color: red;
}

.form-state.valid {
    color: green;
}

p {
    margin-left: 10px;
}

pre {
    padding: 10px;
    background-color: #F8F8F9;
    color: #aaa;
    white-space: pre;
    border-radius: 5px;
    font: 13px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

button {
    box-shadow: inset 0 0 0 0 #54a3f7;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    border: none;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 25px;
    text-decoration: none;
}

button:hover {
    background: #0061a7 linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
}

button:active {
    position: relative;
    top: 1px;
}

button[disabled] {
    background: #B9B9B9;
}

.field-wrapper {
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    input {
      width: 100%;
    }
}
.errorField {
  box-shadow: 0 0 10px 1px #FF0000;
  &:focus {
    box-shadow: 0 0 10px 1px #FF0000;
  }

}