.container {
    padding: 20px;
}

.configBtn,
.actionBtn {
    text-align: center;
    i {
        font-size: 14px;
        cursor: pointer;
    }
    .material-icons {
        &.disabled {
            opacity: 0.1;
        }
    }
}

.disabledTest{ 
    opacity: 0.3;
}

.title {
    font-size: 12px;
    padding: 5px 10px 5px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 20px;
    .material-icons {
        cursor: pointer;
        &.disabled {
            opacity: 0.1;
        }
    }
}

table th,
table td {
    padding: 3px 5px;
}

.addScenario {
    margin-top: 20px;
    cursor: pointer;
}

.activeTest {
    background: rgba(0, 0, 0, 0.2);
}
.filterGroup {
    background: rgba(0,0,0,0.35);
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    .disabled {
        opacity: 0.1;
        &:hover {
            opacity: 0.1 !important;
        }
    }
}
.filterGroup input {
    font-size: 14px;
    padding:3px;
    margin: 10px 5px;
    display: inline-block;
    width: auto;
    height: auto;
    color: #000;
}
.filterGroup .btn-info {
    margin-top:5px;
    margin-bottom:5px;
}