<div>

</div>
<div *ngIf="testList">
    <table class="col-md-12 col-sm-12 col-lg-12 tile table-hover">
        <thead>
            <tr>
                <th>
                    Label
                </th>
                <th>
                    Selector
                </th>
                <th>
                    URL
                </th>
                <th>
                    Mismatch
                </th>
                <th>
                    Option
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of testList">
                <td>{{test.label}}</td>
                <td>{{ test.selectors.join(',')}}</td>
                <td>{{ test.url }}</td>
                <td>{{ test.misMatchThreshold }}</td>
                <td class="configBtn"><i [routerLink]="['/test-list/',test.label]" class="material-icons">build</i></td>
            </tr>
        </tbody>

    </table>
</div>