.container {
    padding: 20px;
}

.configBtn,
.actionBtn {
    text-align: center;
    i {
        font-size: 14px;
        cursor: pointer;
    }
    .material-icons {
        &.disabled {
            opacity: 0.1;
        }
    }
}

.title {
    font-size: 12px;
    padding: 5px 10px 5px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 20px;
    .material-icons {
        cursor: pointer;
        &.disabled {
            opacity: 0.1;
        }
    }
}

table th,
table td {
    padding: 3px 5px;
}

.addScenario {
    margin-top: 20px;
    cursor: pointer;
}

.activeTest {
    background: rgba(0, 0, 0, 0.2);
}